body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

/*logo and contacts*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigation {
  display: flex;
  align-items: center;
}

.link-logo-nav {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: flex;
}
.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1, 17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  text-replace: color 250ms cubik-bezier(0.4, 0, 0.2, 1);
}

.nav-item :hover,
.nav-item :focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.nav-item {
}

.address-container {
}

.adres {
  font-style: normal;
  margin-left: auto;
}

.adres-list {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  margin-left: auto;
  display: flex;
  gap: 40px;
}

.adres-item {
}

.adres-item :hover,
.adres-item :focus {
  color: #404bbf;
}

.adres-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*hero-images*/

.hero-images {
  margin: auto;
  background-color: #2e2f42;
  max-width: 1440px;
  height: 600px;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
}

.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  background: #4d5ae5;
  color: #ffffff;
  /*text button*/
  text-align: center;
  font-style: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  min-width: 169px;
  border: none;
  height: 56px;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Feature*/

.section-feature {
  padding: 120px 0;
}

.section-feature-list {
  display: flex;
  gap: 24px;
}
.section-feature-item {
  width: calc(100% / 72px) / 4;
  width: 264px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.paragraf-feauture {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-feature-anime {
  border-radius: 4px;
  height: 112px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.icon {
}

/*our team*/

.team-container {
}

.name-profesion {
  padding: 32px 0;
}

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  width: 264px;
  border: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.photo-team {
  width: 100%;
}

.name {
  text-align: center;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.profesion {
  text-align: center;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item :hover {
  background-color: #404bbf;
}

.icon-item :focus {
  background-color: #404bbf;
}

.icon-icon {
  fill: #f4f4fd;
}

/*portfolio*/

.stor {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list :hover .portfolio-cover-text {
  transform: translateY(0%);
}

.content {
  width: 100%;
}

.service {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.instrument {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-conteiner {
  padding: 0 21px;
  display: flex;
  align-items: center;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

/*footer*/

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.paragraf-logo {
  margin-right: 120px;
}

.link-logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-footer {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraf-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-text-icon {
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.text-icon {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  margin-bottom: 16px;
}
.icon-list {
}
.footer-icon-list {
  display: flex;
  gap: 16px;
}
.icon-item {
}
.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-item :hover,
.footer-icon-item :focus {
  background-color: #31d0aa;
}

.icon-link {
}
.footer-icon-link {
}
.icon-icon {
}
.footer-icon-icon {
}
